<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">- WhiteBoard-Central -</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
  <%= form_tag(search_users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Users" %>
      <button class="btn" type="submit"><i class="fa fa-lg fa-search"></i></button>
    </div>
  <% end %>
                </li>
                <li>
                    <%= link_to '- Profile -', users_path + "/" + current_user.id.to_s %>
                </li>
                <li>
                    <%= link_to '- Logout -', logout_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <% if current_user == User.find(params[:id]) %>
    <!-- Create New Board -->
    <div class="row">
        <div class="text-center col-lg-12">
          <a href="/boards/new">
            <button class="btn btn-lg btn-success">
              Create New Board <i class="fa fa-lg fa-file-picture-o"></i>
            </button>
          </a>
        <%= form_tag(search_boards_path, :method => "get", class: "navbar-form", id: "search-form") do %>
          <div class="input-append">
            <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Boards" %>
            <button class="btn" type="submit"><i class="fa fa-lg fa-search"></i></button>
          </div>
        <% end %>
        </div>
    </div>
    <!-- /.row -->
<hr>
  <% end %>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              The Board Collection of <%= User.find(session[:user_id]).name %>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <!-- For Each Board -->
    <% @user.boards.reverse.each do |b| %>
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img src=''>
                <%= image_tag b.title.to_s, class:"img-responsive img-thumbnail" %>
            </a>
        </div>
    <!-- Set Privacy Here -->
        <% if current_user == User.find(params[:id]) or b.private == false %>
        <div class="col-md-5">
            <a class="btn btn-md btn-primary" href=<%= '/boards/'+ b.id.to_s + '/edit' %>>Edit Board <div class="fa fa-lg fa-paint-brush"></div></a><br></br>
        <% end  %>
        <% if current_user == User.find(params[:id]) %>
            <div class="button_delete"><%= button_to "Delete Board", boards_destroy_path(b), data: { confirm:'Are you sure you want to delete this Board?'}, method: :delete, remote:true, :id => "button_delete", :class => "btn btn-md btn-danger"%></div><br>
            <%= link_to (b.private ? "Make Public?":"Make Private?"), make_board_private_path(b), :class => "btn btn-md btn-warning" %><br><br>
            <%= link_to 'Update Tags', update_board_info_path(b.id), :class => "btn btn-md btn-success" %>
        <% end  %>
        </div>
    </div>

    <hr>
    <% end %>

 <!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- Footer -->
<footer>
<div class="row">
  <div class="col-lg-12">
              <p>Copyright &copy; Your Website 2014</p>
          </div>
      </div>
      <!-- /.row -->
  </footer>
<script>
$(document).ready(function(){
  $('.button_delete :input').on('click',this,function(){
    window.location.reload()
    console.log('delete action fired')
  })
})
</script>
</div>
