<!DOCTYPE html>
<html>
<head>
  <title>WhiteboardCentral</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<% if flash[:success] %>
    <div class="popup alert alert-success"><%= flash[:success] %></div>
<% elsif flash[:fail] %>
    <div class="popup alert alert-warning"><%= flash[:fail] %></div>
<% end %>
<script>$('.alert').delay(2100).slideUp()</script>

<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
