<!DOCTYPE html>
<html>
<head>
  <title>WhiteboardCentral</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<% if logged_in? %>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'Login', new_session_path %>
<% end %>

<% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
<% elsif flash[:fail] %>
    <div class="alert alert-warning"><%= flash[:fail] %></div>
<% end %>
<script>$('.alert').delay(2100).slideUp()</script>

<%= yield %>

</body>
</html>
