<!DOCTYPE html>
<html>
<head>
  <title>WhiteboardCentral</title>
  <%= stylesheet_link_tag    'boards', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div id="toolbar">
    <div id="free"><input class='simple_color_kitchen_sink' value='#00000'/></div> <div id="colors">
  </div>

    <div id="rad">
      BrushSize <span id="radval">10</span>
      <div id="decrad" class="radcontrol"><i class="fa fa-minus"></i></div>
      <div id="incrad" class="radcontrol"><i class="fa fa-plus"></i></div>
    </div>
    <button class="buttonOnBoard" id="eraser"><i class="fa fa-lg fa-eraser"></i></button>
    <button id="save" class="buttonOnBoard "><%= link_to '', users_path + "/" + current_user.id.to_s, class:"fa fa-lg fa-floppy-o"  %></button>
    <button id="clear">Clear</button>
    <button class="buttonOnBoard" >
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Login', new_session_path %>
      <% end %>
    </button>
    <button class="buttonOnBoard" >
      <%= link_to 'Profile', users_path + "/" + current_user.id.to_s %>
    </button>
  </div>
  <canvas id="canvas" style="display:block;width:100%;height:95%">
  Browser is incompatiable.
  </canvas>

  </div>

<%= yield %>
<%= javascript_include_tag 'boards', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'simplecolor', 'data-turbolinks-track' => true %>
</body>
</html>
